<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>峰@GitLab</title>

    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!-- <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^2/"></script> -->

    <link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="bower_components/google-sheets/google-sheets.html">
    <link rel="import" href="bower_components/google-map/google-map.html"> 
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 2em;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
        font-weight: 300;
        background-color: #f1f1f3;
      }
      a {
        text-decoration: none;
        color: blue;
      }
      ul {
        padding-left: 0;
      }
      ul, li {
        list-style: none;
        font-size: 14px;
      }
      section {
        border-radius: 3px;
        box-shadow: 1px 1px 3px #ccc;
        padding: 1em 2em;
        background-color: white;
        width: 500px;
        height: 500px;
      }
      google-map {
        display: block;
        height: 100%;
        width: 100%;
      }
      main {
        justify-content: space-around;
        margin-top: 2em;
      }
    </style>



</head>
<body>
    <P>Hello! I'm 峰</P>

    <p>For more personalized experiences, you can log in with Google.</p>
   
    <p>A <code>&lt;google-sheets></code> element returns data from a Google Spreadsheet:</p>
    
    <main class="layout horizontal">
    
    <template id="container" is="dom-bind">
    
      <section>
    
          <!-- Example: published spreadsheet -->
          <google-sheets id="sheet" key="0Anye-JMjUkZZdDBkMVluMEhZMmFGeHpYdDJJV1FBRWc" tab-id="1"
                         published rows="{{rows}}" tab="{{tab}}" open-in-google-docs-url="{{openInGoogleDocsUrl}}"></google-sheets>
    
          <heading>
            <h3>Spreadsheet rows:
              <a href="{{openInGoogleDocsUrl}}" target="_blank" title="Open in Google Docs &rarr;">
                "<span>{{tab.title}}</span>" tab
              </a>
            </h3>
            <h5>updated: <span>{{tab.updated}}</span>, by: <template is="dom-repeat" items="{{rows.authors}}">{{item.name}}</template></h5>
          </heading>
          <ul>
            <template is="dom-repeat" items="[[rows]]">
              <li>Name: <span>{{item.gsx$name.$t}}</span> ( lat: <span>{{item.gsx$lat.$t}}</span>, lng: <span>{{item.gsx$lng.$t}}</span> )</li>
            </template>
          </ul>
    
      </section>
    
      <section style="padding: 0;">
    
        <google-map disable-default-ui fit-to-markers>
          <template is="dom-repeat" items="[[rows]]">
            <google-map-marker latitude="{{item.gsx$lat.$t}}" longitude="{{item.gsx$lng.$t}}"></google-map-marker>
          </template>
        </google-map>
    
        <button on-click="useTab" data-tabid="1">View tab 1 data</button>
        <button on-click="useTab" data-tabid="2">View tab 2 data</button>
    
      </section>
    
    </template>
    </main>

    
    <script>
    var template = document.querySelector('#container');
    
    template.useTab = function(e, detail, sender) {
      document.querySelector('#sheet').tabId = Number(e.currentTarget.dataset.tabid);
    };
    </script>



    <p>Google Sheets API Quickstart</p>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" style="display: none;">Authorize</button>
    <button id="signout_button" style="display: none;">Sign Out</button>

    <pre id="content" style="white-space: pre-wrap;"></pre>

    <script type="text/javascript">
      // Client ID and API key from the Developer Console
      var CLIENT_ID = '273788430553-jb7suhedi44dejh689oea2g6lik6n0p8.apps.googleusercontent.com';
      var API_KEY = 'AIzaSyBxXXRb69V2VQf9a0m4Q5wDZzg7o7q6Mx8';

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://sheets.googleapis.com/$discovery/rest?version=v4"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = "https://www.googleapis.com/auth/spreadsheets.readonly";

      var authorizeButton = document.getElementById('authorize_button');
      var signoutButton = document.getElementById('signout_button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          apiKey: API_KEY,
          clientId: CLIENT_ID,
          discoveryDocs: DISCOVERY_DOCS,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          signoutButton.onclick = handleSignoutClick;
        }, function(error) {
          appendPre(JSON.stringify(error, null, 2));
        });
      }

      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          signoutButton.style.display = 'block';
          listMajors();
        } else {
          authorizeButton.style.display = 'block';
          signoutButton.style.display = 'none';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }

      /**
       * Append a pre element to the body containing the given message
       * as its text node. Used to display the results of the API call.
       *
       * @param {string} message Text to be placed in pre element.
       */
      function appendPre(message) {
        var pre = document.getElementById('content');
        var textContent = document.createTextNode(message + '\n');
        pre.appendChild(textContent);
      }

      /**
       * Print the names and majors of students in a sample spreadsheet:
       * https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit
       */
      function listMajors() {
        gapi.client.sheets.spreadsheets.values.get({
          spreadsheetId: '1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms',
          range: 'Class Data!A2:E',
        }).then(function(response) {
          var range = response.result;
          if (range.values.length > 0) {
            appendPre('Name, Major:');
            for (i = 0; i < range.values.length; i++) {
              var row = range.values[i];
              // Print columns A and E, which correspond to indices 0 and 4.
              appendPre(row[0] + ', ' + row[4]);
            }
          } else {
            appendPre('No data found.');
          }
        }, function(response) {
          appendPre('Error: ' + response.result.error.message);
        });
      }

    </script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>


  </body>
</html>




</body>
</html>